        .red {
            background-color: red;
            width: 100px;
            height: 100px;
            position: relative;
            left: 190px;
            display: inline-block;
        }
        
        .blue {
            background-color: blue;
            width: 100px;
            height: 100px;
            position: relative;
            right: 110px;
            display: inline-block;
        }
        
        .yellow {
            background-color: yellow;
            width: 100px;
            height: 100px;
            position: relative;
            right: 120px;
            display: inline-block;
        }
        
        div:hover {
            background-color: tomato;
        }